html { 
  background: url("http://soilpluskona.com/ewExternalFiles/nurseryman_mix1.jpg") no-repeat center center fixed; 
  background-size: cover;
}

.crystal {
	width: 250px;
	height: 250px;
	margin:10px;
}

#crystalcontainer {
	width: 100%;
	text-align: center;
}

h1 {
	font-family: 'Crushed', cursive;
	text-align: center;
	color: white;
	font-size: 45px;
}
p {
	color: white;
	font-family: 'Questrial', sans-serif;
	font-size: 18px;
	display: inline;
}
#losses {
	padding-left: 20px;
}
#wins {
	padding-right: 20px;
}
#winslosses {
	border-width: 1px;
	border-style: solid;
	padding:3px;
	border-color: white;
}
#wrapper {
	margin-right: 100px;
	margin-left: 100px;
	text-align: center;
}
#number {
	padding: 45px;
	margin: 30px;
	background-color: rgba(245,245,191,0.39);
	border-radius: 10px;
}
div#number.col-lg-4 {
	font-size: 40px;
	color: white;
	font-family: 'Questrial', sans-serif;
	text-align: center;
}
div#yournumber.col-lg-4 {
	font-size: 40px;
	color: white;
	font-family: 'Questrial', sans-serif;
	text-align: center;
}
#yournumber {
	padding: 45px;
	margin: 30px;
	background-color: rgba(128,128,128,0.48);
	border-radius: 10px;
}
.row {
	margin-left: 18%;
}
.crystal {
	border-radius: 30px;
}
#crystal1 {
	background-image: url(../images/Blue-sign-crystal.jpg);   
    background-repeat: no-repeat; 
    background-size: 250px 250px;
    border: none;
}
#crystal2 {
	background-image: url(../images/crystals.jpg);   
    background-repeat: no-repeat; 
    background-size: 250px 250px;
    border: none;
}
#crystal3 {
	background-image: url(../images/blue.jpg);   
    background-repeat: no-repeat; 
    background-size: 250px 250px;
    border: none;
}
#crystal4 {
	background-image: url(../images/rainbow.jpg);   
    background-repeat: no-repeat; 
    background-size: 250px 250px;
    border: none;
}
body {
	background-color: rgba(25,25,25,0);
}

@media screen and (max-width: 1199px) {
	div.row {
		margin: auto;
	}
@media screen and (max-width: 465px) {
	p#losses,
	p#wins {
		margin: auto;
		padding: 0px;
		display: block;
	}
}
